@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    background: #f7f7f7;
}

.logo{
    font-family: "Orbitron", serif;
    font-size: 34px;
}

input{
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding: 8px;
    font-size: 16px;
}

input::placeholder{
    color: #CDCDCD;
}

select{
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding: 8px;
    font-size: 16px;
}

.tableSection{
    overflow-x: auto;
    scrollbar-width: thin;

    table{
        width: 100%;
        border-collapse: collapse;
        
        th{
            background: #CDCDCD;
        }

        th, td{
            padding: 8px;
            border: none;
            text-align: center;
        }
    
        .actions{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 8px;
            
            button, a{
                padding: 4px;
                background: transparent;
                border: none
            }
        }
    }

    @media screen and (max-width: 768px) {
        table{
            font-size: 14px;
            width: 150%;
        }
    }
    
    @media screen and (max-width: 425px) {
        table{
            width: 175%;
        }
    }
    
    @media screen and (max-width: 320px) {
        table{
            width: 200%;
        }
    }
}

.tableSection::-webkit-scrollbar{
    display: none;
}