.display{
    display: flex;
    justify-content: stretch;
    gap: 8px;
    
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
}

.profit,
.loss{
    width: 100%;
    align-items: center;
    gap: 4px;
    padding: 8px;
    background: #fffafa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    h3{
        font-size: 24;
    }

    p{
        font-size: 28px;
        font-weight: 800;
        text-align: right;
    }
}

.profit p{
    color: green;
}

.loss p{
    color: red;
}