.pageWrapper{
    margin-top: 18px;
    width: 100%;
    padding-bottom: 24px;

    header{
        padding: 12px 0;
        border-bottom: 1px solid #CDCDCD;
        margin-bottom: 24px;
    
        h1{
            font-size: 36px;
        }
    }

    h2{
        padding: 12px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid #CDCDCD;
        font-size: 28px;
    }
}